.counter_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.btns {
    display: flex;
    gap: 1rem;
}

.btns button {
    outline: none;
}